<br>
<br>
<br>
<br>
<div class="container oBody">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                         <img src="http://placehold.it/180x190" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4><%= @org.name  %></h4>
                        <small><cite title="San Francisco, USA">San Francisco, USA <i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>email@example.com
                            <br />
                            <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com">www.jquery2dotnet.com</a>
                            <br />
                            <i class="glyphicon glyphicon-gift"></i>June 02, 1988
                        </p>
                        <!-- Split button -->
                        <!-- <div class="btn-group">
                            <button type="button" class="btn btn-primary">
                                Social</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span><span class="sr-only">Social</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Twitter</a></li>
                                <li><a href="https://plus.google.com/+Jquery2dotnet/posts">Google +</a></li>
                                <li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Github</a></li>
                            </ul>
                        </div> -->
                        <!-- end button -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<%= link_to "Propse Deal",  new_proposal_path %>

<div class="container ">
<!-- 	<h5> Info:</h5>	
	<div class="row profileTop">
		<div class="leftDiv">
			<p> Organization:<br> <%#= @org.name %> </p> <br>
			<p> Manager: <br> <%= @org.manager %> </p> <br>	
		</div>
	</div>
 -->	<br>
	<h5> Events :</h5>
<% @events.each do |f| %>
	<div class="row eventCard">
		<div class="col-md-3 border-right">
		      <p class="m-b0" >Event: <%= f.name %></p>
            <% if f.event_page.present? %>
			 <p class="m-b0"> Event Page: <%= link_to "page", event_page_path(f.event_page) %></p>
            <% else %>
            <p class="mt-0 mb-0 gray">No Event Page has been created</p>
            <% end %>
			
            <p class="m-b0"> Sponsor:  <%= link_to f.business.name, business_path(f.business)   %> </p>  
            
		</div>
		<div class="col-md-7 border-right">
			<%= link_to f.business.name, business_path(f.business)   %>
            	

		</div>
        <div class="col-md-2">
            <% if org_signed_in? %>
                <% if !f.org_active %>
                    <%= link_to "Accept Event", confirmation_event_path( f , event: { org_active: true } ), method: :put %>
                <% else %>
                    <%= link_to "Cancell Event", confirmation_event_path( f , event: { org_active: false } ), method: :put %>
                <%end %>
            <% end %>
            <p>Contact sponsor</p>
        </div>
	</div>	
<% end %>



</div>


<%# @event_pages.each do |f| %>
 <%#= link_to f.event_name, event_page_path(f) %>  <%#= link_to "edit", edit_event_page_path(f) %> <br>
<%# end %>



<%#= link_to "Delete", room_path(room, room: {name: nil, address: nil}) , method: :put, data: { confirm: "You sure?"} %>

<!--  -->