<div class="container border-bottom">
  <header>
    <div class="container">
    <nav class="navbar  navbar-expand-lg navbar-light bg-light fixed-top border-bottom navbar-1 navbar-custom">
      <a class="navbar-brand" href="/">FundRaizable</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">       
            <li class="nav-item sponsor-list">
              <%= link_to "Find a Sponsor", businesses_path, class: "nav-link sponsor-list ml-5 FindSponsor rounded-pill" %>
            </li>
          </ul>
        <ul class="navbar-nav ml-auto busNab login ">
          <li class="nav-item">
             <%= link_to "About", pages_about_path, class:'nav-link' %>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link  fas fa-user-alt" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to 'Profile',  org_path(current_org), class: 'dropdown-item' %>

              <%= link_to 'logout',  destroy_org_session_path(current_org), method: :delete , class: 'dropdown-item' %>
              
              <%= link_to 'Edit', edit_org_registration_path(current_org), class: "dropdown-item" %>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    </div>
  </header>
</div>






