
<!-- <br class="d-none .d-sm-block .d-md-none"> -->
<!-- <div class="row .d-none .d-sm-block .d-md-none smTopMargin"></div> -->
<div style="background: white !important", class="jumbotron welcome-header font3">
  <div class="container ">
    <div class="row">
      <div class="col-md-6">
        <h1 class="header-msg blackish text-center">
          Where Causes meet Sponsors
        </h1>
        <div class="">
          <p class="header-msg2 greish">Partner up with one or more of the awesome Businesses in our platform and organize original fundraising campaigns.
            Your supporters buy the deals and your organization gets a percentage of the revenue. 
            <br>
            The easiest and fastest way to launch and manage your sponsored fundraising campaign. 
          </p>
        </div>
        <% if business_signed_in? or org_signed_in? %>
        <% else %>
          <div class="row">
            <div class="col-md-12 text-center">
              <%#= link_to "Start a Campaign", new_org_registration_path, 'data-toggle':'modal', '#exampleModal': "#popupnum" , class:"btn btn-lg btn-primary btn-grenish" %>
              <button data-toggle="modal" data-target="#exampleModal" class="btn btn-lg btn-primary btn-grenish "> Start a Campaign</button>
            </div>
          </div> 
        <% end %>
      </div>
      <div class="col-md-6">
        <div class=".d-none .d-sm-block .d-md-none mb-3"></div>
        <img class="first-slide-pic img-fluid" src="pages/WelcomeSchool540x310v4.jpg" alt="First slide">
      </div>
    </div>
  </div>
</div>
<!-- End Jumbotron -->

<!-- Signup form -->
<div class="container"> 
  <div class="card alert alert-success waitlist-form justify-content-center text-center" role="alert">
    <div class="card-body ">
      <div class="text-center mb-2">We are currently in private beta. Sign up to request an early invitation! </div>
      <div class="">
        <%= form_for(Waitlist.new, :url => waitlists_path, html: {class:"form-inline", style: 'display:inline !important;'}) do |f| %>
        
          <span>
            <%= f.email_field :email, type:"email" , class:"form-control form-control-lg  ", placeholder:"Email Address" %>
          </span>
          <br class="d-block d-sm-none">
          <span>
            <%= f.email_field :name, type:"name" , class:"form-control form-control-lg ", placeholder:"Name" %>
          </span>
          <br class="d-block d-sm-none">
          <span>
            <%= f.submit "Submit", class:'btn btn-outline-primary ml-2 ' %> 
          </span>
          
        
      <% end %>
      </div>
      
    </div>
  </div>
</div>
<!-- End Sign up form -->
<br>


<!-- Product story  -->
<section class="p-story">
  <div class="container justify-content-center text-center  " >
    
      <h4 class="font4">
        Find the right sponsor and launch a fundraising campaign in minutes!
      </h4>
    
    <!-- Three columns of text below the carousel -->
    <div class="row story-row pt-5" >
      <div class="col-lg-4 ">
        <img class="rounded-circle img-fluid" src="pages/search-icon-grayWhite.png" alt="Generic placeholder image" width="240px" height="240px">
        
        <h4 class=" blackish mb-0">Search & Connect</h4>
        <p class="product-story">Partner up with one or more sponsors that better meet your organizational needs, better revenue share, accommodations, or availability. </p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle " src="pages/social-media_blk.png" alt="Generic placeholder image" width="240px" height="240px">
        <!-- <div class="rounded-circle" style="background-color: black; width: 140px; height: 140px;"></div> -->
        <h4 class=" blackish mb-0">Campaign</h4>
        <p class="product-story">In minutes set up a Deal Page with your campaign information and use our tools to engage your supporters and their circle of friends via email, social media, and SMS.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle img-fluid" src="pages/percentageBlack.png" alt="Generic placeholder image" width="240px" height="240px">
        <!-- <div class="rounded-circle" style="background-color: black; width: 140px; height: 140px;"></div> -->
        <h4 class="blackish mb-0">Shared Revenue</h4>
        <p class="product-story">FundRaisable will transfer directly to your account, the percentage of revenue agreed upon with your sponsor. We have all the tools needed to manage your fundraiser campaigns as easily as possible. </p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->      
  </div>
</section>
<!-- End Product story  -->

<!-- Feature businesses  -->
<main class="feat-bus">
    <div class="container" >
      <main>
        <div class="currentEvents">
          <h3 class="text-center font3 c-ev" > <%= link_to "Our Cause and Our why", pages_ourcause_path, class: "c-ev1", target: :_blank %>  </h3>
          <p class="our-cause">We believe that the best we can do for our future is Empowering our Youth. These companies</p>
        </div>
      </main>
      <div class="row" >
        <div class="col-md-3">
          <div class="card mb-4 box-shadow card-h event-card text-center">
            <%= link_to event_page_path(1), class:'our-causes-link', style: "text-decoration:none" do%>
              <%= image_tag "joymode-outdoormovie252.jpg", alt: "default-image", class:"img-fluid", id: "event-thumbnail" %>
              <div class="card-body card-info ">
                <!-- <h4 class="wrap"><%#= truncate event.title, length: 49 %></h4> -->
                <h3 class="card-content-1"> Joymode </h3>
                <p class="com-desc">Curated product bundles delivered to your door</p>
                 <p class="com-desc1">  
                   Make moments with Joymode and they will donate 30% from each subscription
                </p>
                <p class="sold">595 sold 355 left!</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
           <% end -%>
          </div>
        </div>    
          
          <div class="col-md-3">
            <div class="card mb-4 box-shadow card-h event-card text-center">
              <%= link_to event_page_path(1), class:'our-causes-link', style: "text-decoration:none" do%>
                <%= image_tag "sb-TeaFinal.jpg", alt: "default-image", class:"img-fluid" , id: "event-thumbnail" %>
                <div class="card-body card-info ">
                  <!-- <h4 class="wrap"><%#= truncate event.title, length: 49 %></h4> -->
                  <h3 class="card-content-1"> Starbucks </h3>
                  <p class="com-desc">$10 Starbucks gift certificate</p>
                   <p class="com-desc1">  
                     Starbucks will donate %100 of the proceeds
                  </p>
                  <p class="sold">753 sold 247 left!</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                  </div>
                </div>
             <% end -%>
            </div>
          </div>
        

        <div class="col-md-3">
          <div class="card mb-4 box-shadow card-h event-card text-center">
            <%= link_to event_page_path(1), class:'our-causes-link', style: "text-decoration:none" do%>
              <%= image_tag "event_image.png", class:"img-fluid" , alt: "default-image", id: "event-thumbnail" %>
              <div class="card-body card-info ">
                <!-- <h4 class="wrap"><%#= truncate event.title, length: 49 %></h4> -->
                <h3 class="card-content-1"> Starbucks </h3>
                <p class="com-desc">$10 Starbucks gift certificate</p>
                 <p class="com-desc1">  
                   Starbucks will donate %100 of the proceeds
                </p>
                <p class="sold">753 sold 247 left!</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
           <% end -%>
          </div> 
        </div>
        <div class="col-md-3">
          <div class="card mb-4 box-shadow card-h event-card text-center">
            <%= link_to event_page_path(1), class:'our-causes-link', style: "text-decoration:none" do%>
              <%= image_tag "wag180.png", alt: "default-image", class:"img-fluid" ,id: "event-thumbnail" %>
              <div class="card-body card-info ">
                <!-- <h4 class="wrap"><%#= truncate event.title, length: 49 %></h4> -->
                <h3 class="card-content-1"> Wag! </h3>
                <p class="com-desc">$20 Wag gift certificate</p>
                 <p class="com-desc1">  
                   Wag will donate $30 each certificate we sell
                </p>
                <p class="sold">753 sold 247 left!</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
           <% end -%>
          </div> 
        </div>

        <div class="container">
        <div class="row">
          <div class="col text-center">
            <button type="button" class="btn btn-outline-secondary mb-4 btn-more">Browse all Sponsors</button>
            </div>
          </div>
          <br>
          <div class="col text-center">
              <%#= link_to "Browse all Sponsors", sponsors_path, class:"" %>
            </div>
          </div>
        </div>

        
      </div>
    </div>
</main>


