<br>
<br class="d-none .d-sm-block .d-md-none">
<br class="d-none .d-sm-block .d-md-none">
<br class="d-none .d-sm-block .d-md-none">
<br class="d-none .d-sm-block .d-md-none">
<br class="d-none .d-sm-block .d-md-none">
<br class="d-none .d-sm-block .d-md-none">
<br class="d-none .d-sm-block .d-md-none">
<br class="d-none .d-sm-block .d-md-none"> 
<br class="d-none .d-sm-block .d-md-none">
<br class="d-none .d-sm-block .d-md-none">
<br class="d-none .d-sm-block .d-md-none">
<br class="d-none .d-sm-block .d-md-none">
<br class="d-none .d-sm-block .d-md-none">
<br class="d-none .d-sm-block .d-md-none">
<br class="d-none .d-sm-block .d-md-none">
<br class="d-none .d-sm-block .d-md-none">
<br class="d-none .d-sm-block .d-md-none">
<br class="d-none .d-sm-block .d-md-none">
<br class="d-none .d-sm-block .d-md-none">
<br class="d-none .d-sm-block .d-md-none">
<br class="d-none .d-sm-block .d-md-none">
<br class="d-none .d-sm-block .d-md-none">
<br class="d-none .d-sm-block .d-md-none"> 
<br class="d-none .d-sm-block .d-md-none">
<br class="d-none .d-sm-block .d-md-none">
<br class="d-none .d-sm-block .d-md-none">
<br class="d-none .d-sm-block .d-md-none">
<br class="d-none .d-sm-block .d-md-none">
<br class="d-none .d-sm-block .d-md-none">
<br class="d-none .d-sm-block .d-md-none">
<br class="d-none .d-sm-block .d-md-none"> 
<div class="jumbotron welcome-header font3">
  <div class="container ">
    <div class="row">
      <div class="col-md-6">
        <h1 class="header-msg greish">
          Groupon for
          <br>
          fundraising
        </h1>
        <div class="">
          <p class="header-msg2 greish">
            Your supporters buy the deals and your organization gets
            <span class="border-top my-3"></span>
            up to 50% of the revenue.
            <br>
            All with the press of a button!
          </p>
        </div>
        <% if business_signed_in? or org_signed_in? %>
        <% else %>
         <%= link_to "Start a Campaign", new_org_registration_path, class:"btn btn-lg btn-primary btn-grenish" %>
        <% end %>
      </div>
      <div class="col-md-6">
        <img class="first-slide-pic img-fluid" src="pages/HeaderIlustrationNoBG1.png" alt="First slide">
      </div>
    </div>
  </div>
</div>
<!-- End Jumbotron -->



<!-- Product story  -->

  <div class="container marketing d-flex justify-content-center text-center p-story " >
    <!-- Three columns of text below the carousel -->
    <div class="row story-row" >
      <div class="col-lg-4">
        <!-- <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="240px" height="240px"> -->
        <img class="rounded-circle" src="pages/search-icon-gray.png" alt="Generic placeholder image" width="240px" height="240px">
        
        <h3>Search</h3>
        <p>Search through hundreds of potential sponsors in your area and find the best sponsor for your fundraiser needs. Partner up with sponsor that will better meet your organizational needs, better revenue share, accommodations, or availability.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="pages/sqrCompaign.png" alt="Generic placeholder image" width="240px" height="240px">
        <!-- <div class="rounded-circle" style="background-color: black; width: 140px; height: 140px;"></div> -->
        <h3>Campaign</h3>
        <p>Update your campaign/event/deal page to include all the info needed and email, tweet, FaceBook or text it to all your supporter, asked them to reshare.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="pages/sponserless1.png" alt="Generic placeholder image" width="240px" height="240px">
        <!-- <div class="rounded-circle" style="background-color: black; width: 140px; height: 140px;"></div> -->
        <h3>Sponsorless Events</h3>
        <p>You don’t need a sponsor to fundraise. You can also organize your own events:  car washes,  rafles, concerts, dinners, dances etc. Our platform will help your reach your supporters via email, text, or social; make pre sales, ticketing service, and scheduling.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->      
  </div>

<!-- End Product story  -->


<!-- Feature businesses  -->
<main class="feat-bus">
  <main>
    <div class="currentEvents">
      <h1 class="text-center font3 c-ev " > Causes in your Area </h1>
    </div>
  </main>

  <div class="py-5 ">
    <div class="container" >
      <div class="row" >
        <div class="col-md-3">
          <div class="card mb-4 box-shadow card-h event-card text-center">
            <%= link_to event_page_path(1), class:'our-causes-link', style: "text-decoration:none" do%>
              <%= image_tag "event_image.png", alt: "default-image", id: "event-thumbnail" %>
              <div class="card-body card-info ">
                <!-- <h4 class="wrap"><%#= truncate event.title, length: 49 %></h4> -->
                <h3 class="card-content-1 thinFont"> Feast and Build </h3>
                <p class="event-info">By: Fund For Empowerment<br>
                   Time: 12:00 PM <br>
                   Event Date: Monday, July 01 2019 <br>
                </p>
                <p class="sold">90 sold 10 left!</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
           <% end -%>
          </div>
        </div>       
        <div class="col-md-3">
          <div class="card mb-4 box-shadow card-h event-card text-center">
            <%= link_to event_page_path(1), class:'our-causes-link', style: "text-decoration:none" do%>
              <%= image_tag "event_image.png", alt: "default-image", id: "event-thumbnail" %>
              <div class="card-body card-info ">
                <!-- <h4 class="wrap"><%#= truncate event.title, length: 49 %></h4> -->
                <h3 class="card-content-1"> Feast and Build </h3>
                <p class="event-info">By: Fund For Empowerment<br>
                   Time: 12:00 PM <br>
                   Event Date: Monday, July 01 2019 <br>
                </p>
                <p class="sold">90 sold 10 left!</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
           <% end -%>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-4 box-shadow card-h event-card text-center">
            <%= link_to event_page_path(1), class:'our-causes-link', style: "text-decoration:none" do%>
              <%= image_tag "event_image.png", alt: "default-image", id: "event-thumbnail" %>
              <div class="card-body card-info ">
                <!-- <h4 class="wrap"><%#= truncate event.title, length: 49 %></h4> -->
                <h3 class="card-content-1"> Feast and Build </h3>
                <p class="event-info">By: Fund For Empowerment<br>
                   Time: 12:00 PM <br>
                   Event Date: Monday, July 01 2019 <br>
                </p>
                <p class="sold">90 sold 10 left!</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
           <% end -%>
          </div> 
        </div>
        <div class="col-md-3">
          <div class="card mb-4 box-shadow card-h event-card text-center">
            <%= link_to event_page_path(1), class:'our-causes-link', style: "text-decoration:none" do%>
              <%= image_tag "event_image.png", alt: "default-image", id: "event-thumbnail" %>
              <div class="card-body card-info ">
                <!-- <h4 class="wrap"><%#= truncate event.title, length: 49 %></h4> -->
                <h3 class="card-content-1"> Feast and Build </h3>
                <p class="event-info">By: Fund For Empowerment<br>
                   Time: 12:00 PM <br>
                   Event Date: Monday, July 01 2019 <br>
                </p>
                <p class="sold">90 sold 10 left!</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                </div>
              </div>
           <% end -%>
          </div> 
        </div>
      </div>
    </div>
  </div> 
</main>
<!-- end feature businesses  -->