<!DOCTYPE html>
<html>
  <head>
    <title>FundRaizer Welcome Page</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'pages', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

         <% if business_signed_in? %>
          <%=  render "shared/bus_navbar" %>
        <% elsif org_signed_in? %>
          <%=  render "shared/org_navbar" %>
        <% else %>
          <%=  render "shared/navbar" %>
        <% end %>



      <%= yield %>

      <%= render "shared/footer" %>
  </body>
</html>
