<!DOCTYPE html>
<html>
  <head>
    <title>FundRaizer Welcome Page</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'pages', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <body>
    <div class="container">
        <%= alerts %>

        <% if business_signed_in? %>
          <%=  render "shared/bus_navbar" %>
        <% elsif org_signed_in? %>
          <%=  render "shared/org_navbar" %>
        <% else %>
          <%=  render "shared/navbar" %>
        <% end %>



      <%= yield %>


      <%= render "shared/footer" %>
    </div>
  </body>
</html>
